<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="openModalEdit(user?.id)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size ="12" class = "ion-text-center">
        {{user?.fname}} {{user?.lname}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size ="12" class = "ion-text-center">
        {{user?.username}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size ="12" class = "ion-text-center">
        {{user?.age}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-label class="fav">Lista de favoritos</ion-label>

  <ion-list>
    <div *ngFor='let dog of favourites'>
      <ion-item (click)="goToDesc(dog.id)">
        <slot name="start">
          <ion-avatar class="dogpic">
            <img [src]='dog.profilepic'>
          </ion-avatar>
        </slot>
        <ion-label class="dogsep">
          <h3>{{ dog.name }}</h3>
          <ion-label>{{ dog.breed }}</ion-label>
          <ion-note>{{dog.sex}} &middot; {{ dog.age }} &middot; {{ dog.size }}</ion-note>
          <ion-label>
            <ion-note>
              {{ dog.idPerrera }}
            </ion-note>
          </ion-label>
        </ion-label>
        <ion-note slot="end" class="arrow-icon">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-note>
      </ion-item>
    </div>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button color="danger" expand="block" fill="solid" (click)="deleteAccountAlert()">Delete Account</ion-button>
</ion-footer>