.title {
    font-size: 32px;
}

.headTitle {
    margin-top: 5%;
}

.headText {
    font-family: 'Noto Sans JP', sans-serif;
    color: teal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
}

ion-col {

    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ion-card-content {
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

ion-card {
    padding-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;

}