<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
</style>

<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Configuración</ion-title>
        <!-- <ion-buttons slot="primary">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col class="headText" size="12">
                <h4>Cambia la configuración de tu <br> aplicación y de tú perfil</h4>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-buttons>
                        <ion-button (click)="gotoEditProfile()">
                            <ion-label>Editar Perfil</ion-label>
                        </ion-button>
                        <ion-button (click)="gotoEditProfile()">
                            <ion-label>Editar Perfil</ion-label>
                        </ion-button>
                        <ion-button (click)="gotoEditProfile()">
                            <ion-label>Editar Perfil</ion-label>
                        </ion-button>
                        <ion-button (click)="gotoEditProfile()">
                            <ion-label>Editar Perfil</ion-label>
                        </ion-button>

                    </ion-buttons>

                </ion-item>
            </ion-list>

            <ion-col class="card" size="10">
                <ion-card (click)="gotoEditProfile()">
                    <ion-item no-lines>
                        <ion-label>Editar Perfil</ion-label>
                    </ion-item>
                    <ion-card-content no-lines>
                        Cambia las caracteristicas de tu perfil
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="card" size="10">
                <ion-card (click)="gotoSeeProfile()">
                    <ion-item no-lines>
                        <ion-label>Ver Perfil</ion-label>
                    </ion-item>
                    <ion-card-content no-lines>
                        Ver las caracteristicas de tu perfil
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="card" size="10">
                <ion-card (click)="gotoChangePass()">
                    <ion-item no-lines>
                        <ion-label>Cambiar contraseña</ion-label>
                    </ion-item>
                    <ion-card-content no-lines>
                        Cambia las contraseña de tu perfil
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="card" size="10">
                <ion-card (click)="gotoLogout()">
                    <ion-item no-lines>
                        <ion-label>Logout</ion-label>
                    </ion-item>

                    <ion-card-content no-lines>
                        Salir de tu cuenta
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="card" size="10">
                <ion-card (click)="gotoDelete()">
                    <ion-item no-lines>
                        <ion-label>Borrar tu cuenta</ion-label>
                    </ion-item>

                    <ion-card-content no-lines>
                        Borra tu cuenta de administrador
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>