ion-content {
    ion-grid {
        ion-row.post-header {
            ion-col {
                &.post-profile-image {

                    max-width: 30px;
                    margin-right: 10px;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    margin-top:10px;


                    ion-avatar {
                        width: 30px;
                        height: 30px;
                    }
                }

                &.post-username a{
                    color: white;
                    font-weight: 600;
                    font-size: 16px;
                }

                &.post-options-button {
                    max-width: 30px;

                    ion-button {
                        color: white;
                    }
                }

                
            }
        }

        .dog-description {
            margin-left: 10px;
            margin-bottom: 15px;
        }

        .description-text {
            margin-left: 10px;
            margin-top: 10px;

            ion-text {
                line-height: 25px;
            }
        }
    }
}