<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title class="pr-2" style="font-size: medium;">Solicitudes de Adopcion</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let adoptee of Adoptees">
            <ion-item>
                <ion-label>{{ adoptee }}</ion-label>
            </ion-item>
            <!-- <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteAdoptee(adoptee.id)">Borrar</ion-item-option>
            </ion-item-options> -->
        </ion-item-sliding>
    </ion-list>

</ion-content>