<ion-header>
    <ion-toolbar>
        <ion-title>Cambiar Credenciales</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="editUserForm">
        <ion-item>
            <h4>Ingresa tu actual contraseña para cambiar tus credenciales! </h4>
            <ion-label position="floating">Actual Contraseña</ion-label>
            <ion-input formControlName="cPassword" placeholder="Actual Contraseña" [type]="showCurrentPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
            <button (click)="onCurrentPasswordToggle()" ion-button clear small item-end icon-only>
              <ion-icon [name]="showCurrentPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </button>

            <h5>Cambio de Email</h5>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>

            <h5>Cambio de Contraseña</h5>
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input formControlName="nPassword" placeholder="Nueva Contraseña" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
            <button (click)="onPasswordToggle()" ion-button clear small item-end icon-only>
                <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </button>

            <ion-label position="floating">Confirma Nueva Contraseña</ion-label>
            <ion-input formControlName="ncPassword" placeholder="Confirmar Nueva Contraseña" [type]="showConfirmedPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
            <button (click)="onConfirmPasswordToggle()" ion-button clear small item-end icon-only>
                <ion-icon [name]="showConfirmedPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </button>
        </ion-item>
    </form>
    <ion-button (click)="updateEmail()" expand="block">Cambiar Email</ion-button>
    <ion-button (click)="updatePassword()" expand="block">Cambiar Contraseña</ion-button>
    <ion-button (click)="closeModal()" expand="block" fill="outline">Cancelar</ion-button>
</ion-content>