<ion-header>
    <ion-toolbar>
        <ion-title>edit-credentials</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="editUserForm">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>

            <ion-label position="floating">Actual Contraseña</ion-label>
            <ion-input formControlName="cPassword"></ion-input>

            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input formControlName="nPassword"></ion-input>
        </ion-item>
    </form>
    <ion-button (click)="updateEmail()" expand="block">Cambiar Email</ion-button>
    <ion-button (click)="updatePassword()" expand="block">Cambiar Contraseña</ion-button>
    <ion-button (click)="closeModal()" expand="block" fill="outline">Cancelar</ion-button>
</ion-content>