.title{
    font-size: 32px;
}

.headTitle{
    margin-top: 5%;
}

.headText{
    margin-top: 5%;
    margin-bottom: 10%;
}

ion-col{
    
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
