<ion-header>
    <ion-toolbar>
        <ion-title>Contacto de Perrera</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModalContact()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <h1>Perrera Municipal de Tijuana</h1>
        <img src="https://pbs.twimg.com/profile_images/943588778735820801/b7RHdz25.jpg">
        <ion-col>
            <p>Avenida Siempre Viva. Numero 1234</p>
            <p>Tel: 664-123-45-67</p>
            <p>Horarios: 8:00 am a 7:00 pm</p>
        </ion-col>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button *ngIf="!user?.actives.includes(dID)" (click)="toggleActive()" expand="block" fill="outline">Mandar Solicitud de Adopción</ion-button>
    <ion-button *ngIf="user?.actives.includes(dID)" color="danger" (click)="toggleActive()" expand="block" fill="outline">Cancelar Solicitud de Adopción</ion-button>
</ion-footer>