<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="editUserForms" *ngIf="editUserForms">
        <ion-grid>

            <ion-row>
                <ion-col class="headTitle" size="12">
                    <ion-text class="title">Edit Profile</ion-text>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="headText" size="12">
                    <ion-text>Cambia los detalles de tu perfil</ion-text>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Nombre de Perrera</ion-label>
                        <ion-input formControlName="nameDogPound"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Dirección</ion-label>
                        <ion-input formControlName="address"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Número de contacto</ion-label>
                        <ion-input formControlName="phone"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>

    </form>
    <ion-button (click)="updateUser()" expand="block">Guardar cambios</ion-button>
    <ion-button fill="outline" (click)="goBack()" expand="block">Cancelar</ion-button>


</ion-content>